.toolbar {
    
    &__title {
        font-size: 32px;
        line-height: 32px;
        text-transform: uppercase;
        color: #ffffff;
        font-family: 'Montserrat-Light';
        margin: 27px 95px 33px;
    }

    &__search-description {
        display: inline-block;
        margin-right: 29px;
        font-size: 12px;
        text-transform: uppercase;
        color: #ffffff;
    }

    &__search {
        position: relative;
        margin: 0 auto;
        width: 770px;
        margin-bottom: 10px;
    }

    &__search-parameters {
        margin: 0 auto;
        width: 770px;
    }
    
    &__input {
        width: 570px;
        padding: 14px;
        background-color: #272727b7;         

        &--full-width {
            width: 100%;
        }
    }
}
