@import '../../assets/styles/reset.css';

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../../assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../../assets/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Monseratt-Bold';
    src: url('../../assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat-Regular', sans-serif;
    height: 100%;
    font-size: 16px;
    color: #ffffff;
}

.container {
    width: 960px;
    margin: 0 auto;
}