    
    .sorting {
        background-color: #555555;

    
        &__container {
            width: 770px;
            padding: 15px 0;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }

        &__sort-description {
            display: inline-block;
            margin-right: 24px;
            font-size: 12px;
            text-transform: uppercase;
            color: #ffffff;
        }

        &__match-movies {
            font-size: 12px;
            line-height: 12px;
            font-family: 'Monseratt-Bold', sans-serif;
            align-self: center;
        }
    }

    