    
    .sorting {
        background-color: #555555;

    
        &__container {
            width: 770px;
            padding: 15px 0;
            margin: 0 auto;
            text-align: right;
        }

        &__sort-description {
            display: inline-block;
            margin-right: 10px;
            font-size: 12px;
            text-transform: uppercase;
            color: #ffffff;
        }
    }

    