.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox label {
    position: relative;
    display: inline-block;
    padding-left: 22px;
    width: 1px;
    height: 1px;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    display: inline-block;
}

.checkbox label::before{
    height: 16px;
    width: 16px;
    border: 1px solid;
    left: 0px;
    top: -5px;
}

.checkbox label::after {
    height: 8px;
    width: 13px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: 2px;
    top: -3px;
}

.checkbox input[type="checkbox"] + label::after {
    content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}

.checkbox input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}

.checkbox--margin {
    margin-right: 30px;
}











/***************END**************/
